.nav{
    position: fixed;
    top:0 ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav__logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}