.form__containerOutside{
    display: grid;
    justify-content: center;
    position: relative;
}
.form__container{
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    position: relative;
    width: 28.125rem;
    height: 41.25rem;
    padding: 4rem;
}
.input__container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.2rem;
}
.input__empty{
    color: #fff;
    background: #333333;
    border:0;
    border-radius: 0.25rem;
    height: 3rem;
    padding: 0.9rem 1.25rem 0;
}
.input__container > label{
 position: absolute;
    top: 0.625rem;
    left: 1.25rem;
    pointer-events: none;
    color: #8a8a8a;
    font-size: 1rem;
    transition: transform 150ms ease-out,font-size 150ms ease-out;
}
form div{
    position: relative;
}
input:focus ~ label{
    top: 0.4375rem;
    font-size: 0.7rem;
}
input{
    outline: none;
}
.input__container > button{
    color: #fff;
    background: rgb(229,9,20);
    border: none;
    outline: none;
    padding: 0.8rem 1.3rem;
    border-radius: 0.125rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    transition: opacity 0.2s ease-in;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 0;
}
.checkbox__container{
    margin-left: 0.75rem;
    padding-left: 1.875rem;
    position: relative;
    font-size: 0.9rem;
    cursor: pointer;
}
.checkbox__container input{
    display: none;
}
.checkmark{
    display: inline-block;
    background: #454545;
    width: 1.1rem;
    height: 1.1rem;
    left: 0;
    top: 0;
    border-radius: 0.1rem;
    position: absolute;
}