*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-red:rgb(211,9,19);
  --main-red-hover:#e50914;
  --main-dark:rgb(20,20,20);
  --main-grey:rgb(153,153,153);
}
body{
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: #fff;
}
a{
  text-decoration: none;
color: white;
}